:root {
    --blue: #38bdf8;
    --grey: #e5e7eb;
    --white: #fafafa;
}

body {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
}

.header-container {
    background-color: var(--white);
    grid-area: 1 / 2 / 2 / 6;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.search-container, .user-profile-container,
.user-welcome-container, .buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-container {
    grid-area: 1 / 1 / 6 / 2;
    background-color: var(--blue);
    display: grid;
    grid-template-columns: 10%;
    grid-template-rows: repeat(15, 7.5%);
}

.logo-container, .sidebar-main-buttons-container,
.sidebar-utility-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-container {
    background-color: var(--grey);
    grid-area: 2 / 2 / 6 / 6;
}