:root {
    --blue: #38bdf8;
    --grey: #e5e7eb;
    --white: #fafafa;
}

body {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
}

.header-container {
    background-color: var(--white);
    grid-area: 1 / 2 / 2 / 6;
    display: grid;
    grid-template-columns: ;
    grid-template-rows: ;
}

.sidebar-container {
    grid-area: 1 / 1 / 6 / 2;
    background-color: var(--blue);
}

.content-container {
    background-color: var(--grey);
    grid-area: 2 / 2 / 6 / 6;
}